.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin-right: 0;
  text-decoration: none;
  color: white;
}
.footer__column-link::before {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

